@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  /* border:  1px solid #000; */
}

/* 全域設定 */
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #f7f8fa;
  color: #1c1f24;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px;
}

p {
  color: #717885;
  line-height: 25px;
}


/* 標題區 */
.header {
  text-align: left;
  margin-bottom: 24px;
}

.header .name {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.header .location {
  font-size: 1rem;
  color: #a6a8aa;
  margin-top: 5px;
}

.header .contact {
  display: inline-flex;
  /* 啟用彈性盒模型 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中（如需要） */
  font-size: 1.2rem;
  color: #6b7280;
}

.header .contact a {
  color: #a6a8aa;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #a6a8aa;
  border-radius: 8px;
  padding: 4px;
  margin-left: 3px;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

.header .contact a:hover {
  color: #48A6A7;
  border-color: #48A6A7;
  background-color: #f0fafa;
  text-decoration: underline;
}



.profile_pic {
  width: 200px;
  height: 200px;
  border: solid 2px #48A6A7;
  border-radius: 50%;
  box-shadow: 2px 3px #48A6A7;
}

/* 個人摘要 */
.about {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #48A6A7;
}

.about p {
  margin-top: -20px; 
}

/* 各章節 */
.section {
  margin-top: 40px;
  margin-bottom: 24px;
}

.section h2 {
  font-size: 1.25rem;
  font-weight: 900;
  border-bottom: 2px solid #48A6A7;
  padding-bottom: 8px;
  margin-bottom: 16px;
  color: #48A6A7;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section ul li {
  margin-bottom: 16px;
}

.section ul li .job_title {
  font-weight: 600;
}

.section ul li .location {
  font-size: 0.875rem;
  font-weight: 600;
  color: #4a505b;
  margin-top: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #e7eaed;
}

.section ul li .company {
  font-size: 0.875rem;
  color: rgb(58, 62, 66);
  margin-top: 0px;
}

.section ul li .date {
  font-size: 0.875rem;
  float: right;
  color: #9ca3af;
}

.section ul li .tags {
  font-size: 0.875rem;
  font-weight: 600;
  color: #4a505b;
  margin-top: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #e7eaed;
}

/* 清除浮動 */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}